<div class="wrapper" *ngIf="!userauthentication">
  <app-adminNavbar> </app-adminNavbar>


  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Update Day
        <small>Control panel</small>
      </h1>

    </section>



    <!-- addform star  -->
    <div class="box box-info">
      <div class="box-header with-border">

      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal" #add="ngForm" (ngSubmit)="postcountry()" enctype="multipart/form-data">
        <div class="box-body" style="width:850px">
          <div class="form-group">
            <label  class="col control-label">Selected Day: {{country.date | date}}</label>

            <div class="col-sm-10">
              <input required [(ngModel)]="country.date" name="date" type="date" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="cityrouterlink" class="col-sm-2 control-label">Status</label>
            <div class="col-sm-10">


              <select required [(ngModel)]="country.status" name="status"  class="custom-select custom-select-md form-control mr-sm-2" 
                 required>
              
                <option  value="True">Open</option>
                <option  value="False">Close</option>

              </select>
            </div>
          </div>
         

        </div>
        <!-- /.box-body -->
        <div class="box-footer" style="width:700px">
          <button type="submit" class="btn btn-default " (click)="cancel()">CANCEL</button>
          <button type="submit" class="btn btn-info pull-right" >SAVE</button>
        </div>
        <!-- /.box-footer -->
      </form>
    </div>
    <!--  -->










  </div>

  <app-adminFoot> </app-adminFoot>


</div>

<p *ngIf="userauthentication">
  //Unauthorization

</p>
