<div class="wrapper" *ngIf="!userauthentication">
    <app-adminNavbar> </app-adminNavbar>
  
  
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Users List
          <small>Control panel</small>
        </h1>
  
      </section>
  
  
  
      <!-- addform star  -->
      <div class="row">
        <div class="col-xs-12 table-responsive m-2">
          <table class="table table-striped">
            <thead>
              <tr>
          
                <th> Pass ID</th>
                <th> Name Surname </th>
                <th> Gender </th>
                <th> Mail  </th>
                <th> Citizenship </th>
                <th> Phone  </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of court">
              
                <td>{{c.passID  }}  </td>
                <td>{{c.name}} {{c.surname}}</td>
   
                <td>{{c.gender}} </td>
                <td>{{c.mail}} </td>
                <td>{{c.citizenship}} </td>
                <td>{{c.phone}} </td>
                <td style="padding:0px">
  
                
                  <button type="submit" class="btn btn-danger  m-2" (click)="delete(c.id)">Delete</button>
  
  
                </td>
              </tr>
  
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
  
      <!--  -->
  
  
  
  
  
  
  
  
  
  
    </div>
  
    <app-adminFoot> </app-adminFoot>
  
  
  </div>
  
  <p *ngIf="userauthentication">
    //Unauthorization
  
  </p>
  