table{
    margin: auto
}



.renk{
    color: white;
}

.h{

    margin-left: 35%
}



.f{
    margin-left: 40%
}

.gg{
    margin-left: 35%;
    margin-right: 35%;
}

button{
    margin-left: 40%
    
}