<app-navbar> </app-navbar>
<br>
<form class="gg " #loginnform="ngForm" (ngSubmit)="serachcity()">
    <input class="form-control " name="hospital" [(ngModel)]="search.hospital" type="search" placeholder="Search in Hospital" aria-label="Search">
   <br > <button class="btn btn-success " type="submit">Search</button>
  </form>
  <br >
<div class="jumbotron " *ngIf="dataserch" style="background-color: white">

  <table class="table" style="width:55%">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Hospital Name</th>
       
        <th  scope="col">District</th>
        

        <th scope="col">Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hos of hospitals" class="table">
        <td scope="row"> <a href="/hosdetail/{{hos.id}}">{{hos?.name}}</a></td>
       
        <td> <a href="/hosdetail/{{hos.id}}">{{hos?.district}}</a></td>
       
        <td> <a href="/hosdetail/{{hos.id}}">{{hos?.start}}</a></td>
      </tr>
    
        

      
    </tbody>
 
  </table>
  <h3 *ngIf="!data" class="h"> There is no Hospitals </h3>


</div>




<div class="jumbotron " *ngIf="!dataserch">

    <table class="table" style="width:55%">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Hospital Name</th>
      
          <th  scope="col">District</th>
  
  
          <th scope="col">Rate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hos of serachdata" class="table">
          <td scope="row"> <a href="/hosdetail/{{hos.id}}">{{hos?.name}}</a></td>
        
          <td> <a href="/hosdetail/{{hos.id}}">{{hos?.district}}</a></td>
        
          <td> <a href="/hosdetail/{{hos.id}}">{{hos?.start}}</a></td>
        </tr>
      
          
  
        
      </tbody>
   
    </table>
    <h3 *ngIf="!data" class="h"> There is no Hospitals </h3>
  
  
  </div>
  






<app-foot> </app-foot>












