<div class="wrapper" *ngIf="!userauthentication">
  <app-adminNavbar> </app-adminNavbar>


  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Days List
        <small>Control panel</small>
      </h1>

    </section>



    <!-- addform star  -->
    <div class="row">
      <div class="col-xs-12 table-responsive m-2">
        <table class="table table-striped">
          <thead>
            <tr>
        
              <th> Day Date</th>
              <th> 
                Statu  </th>
              <th> Doctor  </th>
            
           
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of court">
            
              <td>{{c.date | date }} </td>
              <td>{{c.status}} </td>
 
              <td>{{c.doctor.title}} {{c.doctor.name}} {{c.doctor.surname}} </td>
              <td style="padding:0px">

                <a href="/upday/{{c.id}}" type="submit" class="btn btn-warning ">Update</a> <a href="/listofdoctorshours/{{c.id}}" type="submit" class="btn btn-info m-2 ">List of Hours</a>
                <button type="submit" class="btn btn-danger  m-2" (click)="delete(c.id)">Delete</button>


              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <!-- /.col -->
    </div>

    <!--  -->










  </div>

  <app-adminFoot> </app-adminFoot>


</div>

<p *ngIf="userauthentication">
  //Unauthorization

</p>
