<app-navbar> </app-navbar>


<div class="map-area mt-30">
   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d752.879965169286!2d28.797205511986284!3d40.991993421111275!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa396db59606d%3A0x6594147beb14e9b4!2zxLBzdGFuYnVsIEF5ZMSxbiDDnG5pdmVyc2l0ZXNp!5e0!3m2!1str!2str!4v1546605533820" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!-- ##### Google Maps End ##### -->

<!-- ##### Contact Area Start ##### -->
<section class="contact-area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="contact-content-area">
                  <div class="row">
                      <div class="col-12 col-md-4">
                          <div class="contact-content contact-information">
                              <h4>Contact</h4>
                              <p>hospital-guide@system.com</p>
                              <p>(+12) 345 - 678 - 910</p>
                          </div>
                      </div>
                      <div class="col-12 col-md-4">
                          <div class="contact-content contact-information">
                              <h4>Address</h4>
                              <p>Beşyol Mahallesi, İnönü Cd. No:38, 34295 </p>
                              <p>Küçükçekmece/İstanbul, Turkey </p>
                          </div>
                      </div>
                      <div class="col-12 col-md-4">
                          <div class="contact-content contact-information">
                              <h4>Opening Hours</h4>
                              <p>Mon-Sat: 10 Am to 6 Pm</p>
                              <p>Sunday: Close</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ##### Contact Area End ##### -->




<app-foot> </app-foot>
